{% extends 'base.html.twig' %}

{% block title %}Edit Virtue{% endblock %}

{% block body %}
    <h1>Edit Virtue</h1>

    {{ include('virtue/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info" href="{{ path('app_virtue_index') }}">back to list</a>

    {{ include('virtue/_delete_form.html.twig') }}
{% endblock %}
