{% extends 'base.html.twig' %}

{% block title %}New Virtue{% endblock %}

{% block body %}
<div class="backshow">
    <h1>Create new Virtue</h1>

    {{ include('virtue/_form.html.twig') }}

    <a  class="btn btn-info" href="{{ path('app_virtue_index') }}">back to list</a>
</div>
{% endblock %}
