header{
    background-color:forestgreen;
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
}
.nav-link{
  color: whitesmoke;
  font-weight: bold;

}

.card{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    color:darkolivegreen;
    
}

.card h5{

color: darkgoldenrod;
font-weight: bold;
}

footer nav{
    background-color:forestgreen;
   width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
}

.backshow{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
    border-radius: 5%;
}

body{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%; 
    
}

.border_form
{
border:black 2px solid;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

