{% extends 'base.html.twig' %}

{% block title %}Edit Recipe{% endblock %}

{% block body %}

<h1>Modification de la recette</h1>

    {{ include('recipe/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info" href="{{ path('app_recipe_index') }}">Retour à l'index</a>

    {{ include('recipe/_delete_form.html.twig') }}

{% endblock %}
