{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modification de l'utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info" href="{{ path('app_user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
