{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="backshow">
    <h1>Ajouter un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a <a class="btn btn-info" href="{{ path('app_user_index') }}">Retour à l'index</a>
</div>
{% endblock %}
